/*A less bloated media object.*/

/* ====== media ====== */
.media {margin:0;}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: @gridGutterWidth;}
.media .img {display:block;}
.media .imgExt{float:right; margin-left: @gridGutterWidth;}

.media-margin {
  margin: @gridGutterWidth;
}

.media-third .img {
  max-width: 33%;
}

.media-half .img {
  max-width: 50%;
}